.leftSection, .rightSection {
    padding: 5%;
    width: 100%;
}

@media (min-width: 768px) {
    .leftSection {
        width: 50%;
        position: relative;
        height: 100%;
        overflow-y: auto;
    }
    .rightSection {
        width: 50%;
        margin-left: 50%; /* Push it to the right side */
        height: auto;
    }
}

.boxed, .strlboxed {
    box-shadow: 5px 5px #61E0B0;
}

.boxed {
    background-color: #1d0419;
}

.strlboxed {
    background-color: #252525;
}

.privacySection, .boxed, .strlboxed {
    padding: 2%;
    display: block; /* adjusted for better control */
}