.leftSection, .rightSection {
    padding: 10%;
    position: relative;
    width: 100%;
  }
  
  .rightSection {
    position: relative;
  }
  
  @media screen and (min-width: 768px) {
    .leftSection {
      position: fixed;
      width: 50%;
      left: 0;
      overflow-y: hidden;
      height: 100%;
    }
  
    .rightSection {
      width: 50%;
      margin-left: 50%;
    }
  }
  
  .privacySection {
    display: block;
    padding: 2%;
  }
  
  .spacing {
    padding-top: 2%;
  }
  
  .textlink {
    text-decoration: underline;
  }
  
  .sectionText {
    margin-left: 15px;
  }
  
  header {
    font-weight: bold;
  }
  