@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: black;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111111;
}
footer{
  margin-top: auto;
}

html {
  --line-color: #e5e7eb;
}

.form-container {
  display: flex;
}

