@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: black;
  --background-color: #111111;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
}

.content {
  min-height: fit-content;
  max-height: fit-content;
  margin: 1% 5% 1% 5%;
  padding: 5%;
  text-align: center;
  object-position: center center;
  transform-origin: center center;
  position: relative;
}

footer {
  margin-top: auto;
}

html {
  --line-color: #e5e7eb;
}

.form-container {
  display: flex;
}


::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}