@tailwind base;
@tailwind components;
@tailwind utilities;

.column {
  float: left;
  width: 50%;
  object-position: center center;
  transform-origin: center center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

h1::after {
  content: attr(data-end);
  color: orange;
}
span::after {
  content: attr(data-end);
  color: orange;
}

.resizeableImage {
  z-index: 0;
  justify-content: center;
  object-fit: cover;
  object-position: center center;
  transform-origin: center center;
  height: 80%;
  width: auto;
  opacity: 80%;
}

.fullImage {
  object-fit: cover;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  object-position: center center;
  transform-origin: center center;
}

.borderedBottom {
  border-bottom: 1px solid white;
}

.contact-box {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: hsl(
    var(--nextui-foreground) /
      var(--nextui-foreground-opacity, var(--tw-border-opacity))
  );
  width: auto;
  height: auto;
  padding: 2%;
}

@media (min-width: 768px) {
  .boxshadow {
    box-shadow: 60px -16px rgb(248 113 113);
  }
  .box-shadow-under {
    box-shadow: 60px 16px rgb(248 113 113);
  }
  .strl-shadow {
    box-shadow: -60px -20px gray;
  }
}
.content {
  min-height: 50vh;
  margin: 1% auto;
  padding: 5%;
  text-align: center;
  position: relative;
}
.contact-box {
  display: flex;
  align-items: center;
}

.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 1s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 1s cubic-bezier(0.23, 1, 0.32, 1) both;
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-contract 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
