@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    max-width: 1500px;
    margin: auto;
    padding: 5%;
    text-align: center;
    object-position: center center;
    transform-origin: center center;
    color: white;
}

.column {
    float: left;
    width: 50%;
    object-position: center center;
    transform-origin: center center;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

h1::after {
    content: attr(data-end);
    color: orange;
}

.resizeableImage {
    z-index: 0;
    object-fit: cover;
    object-position: center center;
    transform-origin: center center;
    height: 100%;
    width: 100%;
    opacity: 80%;
}

.fullImage {
    object-fit: cover;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    object-position: center center;
    transform-origin: center center;
}