@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
    max-height: fit-content;
    margin: 1% 5% 1% 5%;
    padding: 5%;
    text-align: center;
    object-position: center center;
    transform-origin: center center;
    border-radius: 25px;
    position: relative;
}

.column {
    float: left;
    width: 50%;
    object-position: center center;
    transform-origin: center center;
}

.row::after {
    content: '';
    display: table;
    clear: both;
}

h1::after {
    content: attr(data-end);
    color: orange;
}

.resizeableImage {
    z-index: 0;
    justify-content: center;
    object-fit: cover;
    object-position: center center;
    transform-origin: center center;
    height: 80%;
    width: 80%;
    opacity: 80%;
}

.fullImage {
    object-fit: cover;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    object-position: center center;
    transform-origin: center center;
}

.borderedBottom {
    border-bottom: 1px solid white;
}
