.profilePicture {
  width: 100%; /* Set width to 100% to make it responsive */
  max-width: 200px; /* Set maximum width */
  height: auto; /* Allow height to adjust accordingly */
  border-radius: 50%; /* Makes the image circular */
  border: 2px solid #91ff91; /* Light green border */
  overflow: hidden; /* Ensures the image stays within the circular frame */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire space */
}